/*Stylesheet for WordPress Course Manager plugin*/

/*DIV that contains the image of a lecturer*/
#WPCM_lecturer_image {
	width: 150px;
	float: right;
	margin: 0 0 1em 1em;

}

#WPCM_lecturer_image img {
	width: 100%;
	border: none;
}

.WPCM_courses .WPCM_course_holder {
	float: left;
   margin: 0 0.5em 1em 0;
   text-align: center;
}

.WPCM_courses .WPCM_course_holder img {
	height: 80px;
}